/* .form-control,
.custom-select {
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  height: calc(1.5em + 1.2rem);
} */
/* .form-control-sm { */
/* padding: 0.98rem 0.75rem;
  height: calc(1.5em + 0.85rem + 2px); */
/* } */
